name: Release
on:
  push:
    branches:
      - "!develop"
    tags:
      - "v*.*.*"

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - name: Checkout repository
        id: checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        id: install
        run: yarn install

      - name: Lint
        id: lint
        run: yarn lint

      - name: Test app
        id: test
        run: yarn ci

  release:
    name: Create release
    needs: test
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - name: Checkout repository
        id: checkout
        uses: actions/checkout@v4

      - name: Minify
        run: yarn minify

      - name: Zip un-minified
        run: zip -r -j templates.zip ./src/*

      - name: Zip minified
        run: zip -r -j templates.min.zip ./dist/*

      - name: Create release
        id: create-release
        uses: softprops/action-gh-release@v2
        with:
          name: ${{  github.ref_name }}
          files: |
            templates.zip
            templates.min.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
